---
import Buttons from "./Buttons.astro";
---

<style>
  :root{
    --green-dot: #64C589;
    --dark: #000005;
    --light: #EAECF0;
    --light-gray: #F6F6F6;
    --gray: #A4AAB6;
    --radius-full: 100%;
  }
  body{
    padding: 0 0.5rem !important;
    background-color: var(--light-gray);
  }

  .profile-pic{
    border-radius: var(--radius-full);
    width: 300px;
    height: 300px;
    border: 4px solid var(--light);
  }
  .profile-pic > img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-full);
  }
  /* PLAIN CSS IS BETTER THAN TAILWIND */
  /*TODO: i should change all explicit coloring with tailwind custom coloring component*/

</style>
<header class="m-auto max-w-[1200px] mt-2 rounded bg-white shadow-md p-4">
  test
</header>
<main class="m-auto max-w-[1200px] mt-2 rounded bg-white shadow-md p-4 ">
  <section>
    <div class="flex justify-between items-center">
      <Buttons title="Full Stack Engineer" type="decoration" design="default"/>
      <Buttons title="Open To Work" type="decoration" design="available"/>
    </div>
    <div class="w-full flex flex-col gap-4 mt-8 items-center p-2 lg:flex-row-reverse lg:justify-between">
      <!-- Profile Picture -->
      <div class="bg-white profile-pic p-2 flex items-center justify-center">
        <img alt="profile-pic" src="/profile-pic.svg"/>
      </div>

      <!-- Text Content -->
      <div class="h-full flex flex-col gap-4">
        <h1 class="font-bold text-2xl">I'm Eliuth</h1>
        <p class="relative text-sm text-gray-500">Full Stack Developer from "WHATEVER", "PLACE". 
          <br /> Currently some text more idk what to write
        </p>
        <!--- Buttons --->
        <div class="flex gap-4">
          <a class="w-fit border py-2 px-4 bg-neutral-950 text-white rounded font-bold text-sm">Hire me</a>
          <button class="w-fit border py-2 px-4 rounded font-bold text-sm">Copy Email</button>
        </div>
      </div>
    </div>
  </section>
</main>
