<main class="w-screen max-w-screen h-screen max-h-screen flex flex-col border overflow-hidden">
  <!--- Top Container --->
  <section class="h-[50%] lg:hover:h-[70%] duration-200!">
    <div class="h-[100%] w-screen grid lg:flex lg:justify-between">
      <a
        href="/"
        class="h-[100%] text-2xl! bg-[#5865F2] border-b border-left border-white font-bold! flex items-center justify-center hover:bg-[#0A1FFF] lg:border-r lg:w-[70%] lg:hover:w-[120%] lg:text-4xl duration-200!"
      >
        DISCORD
      </a>
      <a
        href="/"
        class="h-[100%] text-2xl! bg-[#0075B5] border-b border-white font-bold! flex items-center justify-center hover:bg-[#015B8D] lg:border-r lg:w-[30%] lg:hover:w-[120%] lg:text-4xl duration-200!"
      >
        LINKEDIN
      </a>
    </div>
  </section>
  <!--- End Top Container --->

  <!--- Top Container --->
  <section class="h-[50%] lg:hover:h-[80%] duration-200!">
    <div class="h-[100%] w-screen grid lg:flex lg:justify-between">

      <a
        href="/"
        class="h-[100%] text-2xl! border font-bold! flex items-center justify-center hover:bg-yellow-300 lg:border-r lg:w-[30%] lg:hover:w-[120%] lg:text-4xl duration-200!"
      >
        GO BACK
      </a>
      <a
        href="/"
        class="h-[100%] text-2xl! bg-[#F14336] border-top border-white font-bold! flex items-center justify-center hover:bg-[#D32E2A] lg:border-r lg:w-[100%] lg:hover:w-[120%] lg:text-4xl duration-200!"
      >
        GMAIL
      </a>
    </div>
  </section>
  <!--- End Top Container --->
</main>

