---
import Buttons from "./Buttons.astro";
---

<section class="mt-12 bg-snow-mist rounded p-4 shadow-sm">
  <div class="flex flex-col gap-4 sm:flex-row sm:justify-between mb-4">
    <Buttons title="Experience" type="decoration" design="default" customClass="shadow-none! before:hidden!"/>
    <Buttons title="View All" type="link" design="outlined" customClass="border-none! text-center!"/>
  </div>
  <div class="w-full flex flex-col gap-4">
    <Buttons title="Curso Albert" type="link" design="social" role="Web Designer" img="/curso-albert-logo.svg" stack="Wordpress" customClass="border-none!" component="experience" duration="OCT 2023 - FEB 2024" description="Built a responsive WordPress website for Curso Albert, a Brazilian e-learning platform. Handled both the design and development, ensuring a smooth user experience and easy content updates."/>
    <Buttons title="Freelance" type="link" design="social" role="Full Stack Developer" img="https://images.icon-icons.com/2648/PNG/512/logo_freelancer_com_icon_160826.png" stack="React/Typescript | Node.js | MySQL | AWS" customClass="border-none!" component="experience" duration="SEP 2023 - DIC 2023" description="Collaborated with early-stage startups to design and ship MVPs and internal tools under tight timelines. Built dynamic, high-performance UIs using React and TypeScript, and developed scalable REST APIs with Node.js. Designed efficient MySQL databases and deployed full-stack solutions on AWS (EC2, S3, RDS), integrating CI/CD pipelines with GitHub Actions for automated testing and deployments. Also developed custom Minecraft servers, plugins, and mods using Java, with a focus on performance, game mechanics, and multiplayer features."/>
    <Buttons title="OIGETIT.AI - Fake News Filter" type="link" design="social" role="Frontend Developer" img="https://media.licdn.com/dms/image/v2/C560BAQGrKJfbngIcqQ/company-logo_200_200/company-logo_200_200/0/1630662606576/oigetit_com_logo?e=2147483647&v=beta&t=Gl1WyuPG2TE_1mHp4TCrfYfw3uKgywQ0oX5I8kTHIsQ" stack="Javascript/D3.js | HTML | CSS" customClass="border-none!" component="experience" duration="MAR 2022 - JUL 2023" description="Assisted in building internal tools focused on data visualization to support fake news detection and analysis. Developed interactive visual components using D3.js and integrated them into the React-based frontend. Solved minor bugs, enhanced UI components, and collaborated with the team to maintain a clean and efficient codebase. Gained valuable experience working in a real-world development environment, with a focus on usability, data representation, and frontend best practices."/>
  </div>
</section>
