---
import Buttons from "./Buttons.astro";
---

<section class="mt-12 bg-snow-mist rounded p-4 shadow-sm">
  <div class="flex flex-col gap-4 sm:flex-row sm:justify-between mb-4">
    <Buttons title="Experience" type="decoration" design="default" customClass="shadow-none! before:hidden!"/>
    <Buttons title="View All" type="link" design="outlined" customClass="border-none! text-center!"/>
  </div>
  <div class="w-full flex flex-col gap-4">
    <Buttons title="SyntaxMind" type="link" design="social" customClass="border-none!"/>
    <Buttons title="SyntaxMind" type="link" design="social" customClass="border-none!"/>
    <Buttons title="SyntaxMind" type="link" design="social" customClass="border-none!"/>
  </div>
</section>
