<main class="w-screen max-w-screen h-screen max-h-screen flex flex-col border overflow-hidden">
  <!--- Top Container --->
  <section class="h-[50%] lg:hover:h-[70%] duration-200!">
    <div class="h-[100%] w-screen grid lg:flex lg:justify-between">
      <a
        href="/work/"
        class="h-[100%] text-2xl! border font-bold! flex items-center justify-center hover:bg-yellow-300 lg:border-r lg:w-[70%] lg:hover:w-[120%] lg:text-4xl duration-200!"
      >
        WORK
      </a>
      <a
        href="/connect/"
        class="h-[100%] text-2xl! border font-bold! flex items-center justify-center hover:bg-yellow-300 lg:border-r lg:w-[30%] lg:hover:w-[120%] lg:text-4xl duration-200!"
      >
        CONNECT
      </a>
    </div>
  </section>
  <!--- End Top Container --->

  <!--- Top Container --->
  <section class="h-[50%] lg:hover:h-[80%] duration-200!">
    <div class="h-[100%] w-screen grid lg:flex lg:justify-between">
      <a
        href="/about/"
        class="h-[100%] text-2xl! border font-bold! flex items-center justify-center hover:bg-yellow-300 lg:border-r lg:w-[30%] lg:hover:w-[120%] lg:text-4xl duration-200!"
      >
        ABOUT
      </a>
      <h4
        class="h-[100%] text-2xl! border font-bold! flex items-center justify-center hover:bg-yellow-300 lg:border-r lg:w-[70%] lg:hover:w-[120%] lg:text-4xl duration-200!"
      >
        COMMUNITY
      </h4>
    </div>
  </section>
  <!--- End Top Container --->
</main>
