---
import Buttons from "./Buttons.astro";
---

<section class="mt-12 bg-snow-mist rounded p-4 shadow-sm">
  <div class="flex flex-col gap-4 sm:flex-row sm:justify-between mb-4">
    <Buttons title="Projects" type="decoration" design="default" customClass="shadow-none! before:hidden!"/>
    <!-- <Buttons title="View All" type="link" design="outlined" customClass="border-none! text-center!"/> -->
  </div>
  <div class="w-full flex flex-col gap-4">
    <Buttons title="Curso Albert - Production" type="link" design="social" role="Web Designer" stack="Wordpress" customClass="border-none!" img="/curso-albert-logo.svg" link="https://www.cursoalbert.com/"/>
    <Buttons title="TaskRevolution - Production" type="link" design="social" role="Web Designer" stack="Shopify" customClass="border-none!" img="https://taskrevolution.com/cdn/shop/files/TRA-Mail.webp?v=1733442026&width=600" link="https://taskrevolution.com/"/>    
    <Buttons title="Syntaxmind - Markdown Editor" type="link" design="social" role="Frontend" stack="React/Typescript | Github Actions" customClass="border-none!" img="https://cdn.iconscout.com/icon/free/png-512/free-markdown-icon-download-in-svg-png-gif-file-formats--social-media-ionicons-solid-pack-miscellaneous-icons-457956.png?f=webp&w=256" link="https://syntaxmind.netlify.app/"/>
    <Buttons title="Disney+ - Clone" type="link" design="social" role="Frontend" stack="React | Firebase" customClass="border-none!" img="https://upload.wikimedia.org/wikipedia/commons/3/3e/Disney%2B_logo.svg" link="https://chemizu-disney-clone.netlify.app/"/>
    <!-- <Buttons title="Linkedin - Clone" type="link" design="social" role="Frontend" stack="React | Firebase" customClass="border-none!"/>
    <Buttons title="TikTok - Clone" type="link" design="social" role="Frontend" stack="React | Firebase" customClass="border-none!"/> -->
    <Buttons title="Rinconcito Verin - Restaurant" type="link" design="social" role="Frontend" stack="Javascript | Bootstrap" customClass="border-none!" img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSH0-p8q5_S7SRo-5RNGZijlQg1isuEHwaNA&s" link="https://tourmaline-meringue-37c7f1.netlify.app/"/>

  </div>
</section>
