---
interface ToastProps{
  id: "success" | "error" | "warn";
}

const {status} = Astro.props;
---
<style>
  .animate-toast{
    transform: translateY(-200px);
  }
  .animate-toast.active{
    transform: translateY(0px);
  }
  /*TODO: Create styles for success | error | warn*/
</style>
<section class="w-screen fixed left-0 top-0 z-1 p-4 flex items-center justify-center transition-all ease-in-out duration-200 animate-toast" id={status}>
  <div class="py-2 px-8 rounded shadow-sm bg-mint-breeze font-bold text-xs text-emerald-glow border border-2-emerald-glow flex items-center gap-4">
    <img src="/check-icon.svg" width="32px"/><p id="p-title"></p>
  </div>
</section>
<script>

  let activeStatus = false;

  // Animate Toast - Success Toast
  document.addEventListener("ActiveToast", async (e) => {
    if(activeStatus) return;

    const title = document.getElementById("p-title")
    const event = await e.detail;
    if(!event) return;

    const getToastId = document.getElementById("success")

    title.textContent = event.message;
    getToastId.classList.add("active");
    activeStatus = true;
    
    setTimeout(() => {
      getToastId.classList.remove("active");
      activeStatus = false;
    }, 2000);
  });
</script>
