---
// TODO: Complete this component when projects are available
---

<style>
  .section-header{
    background-image: url("/briefcase.svg");
    background-repeat: no-repeat;
    background-position: left 0px bottom -300px;
    background-size: 800px;
  }
</style>

<main class="overflow-hidden w-screen min-h-screen">
  <section class="relative section-header bg-zinc-100 shadow-md h-[300px] flex items-center justify-center lg:h-[400px] duration-200!">
    <a href="/" class="absolute left-3 top-6 "> &lt; Go back</a>
    <h1 class="font-bold! text-xl! sm:text-4xl! duration-200!">Showcase of My Work</h1>
  </section>
  <section class="h-full p-4 flex flex-col gap-4 lg:flex-row lg:shrink lg:flex-wrap lg:justify-center ">
    <div class="w-full h-[700px] shadow-md lg:w-[700px] shrink"></div>
    <div class="w-full h-[700px] shadow-md lg:w-[700px]"></div>
    <div class="w-full h-[700px] shadow-md lg:w-[700px]"></div>
    <div class="w-full h-[700px] shadow-md lg:w-[700px]"></div>
    <div class="w-full h-[700px] shadow-md lg:w-[700px]"></div>
  </section>
</main>

